<div class="index">
 <p> Whizz Palace </p>

<div class="details">
 <% for whiz in @all_students %>
 <div class="detailbox">
   <p> Full Name: <%= whiz.full_name %> </p>
 </div>
 <% end %>
</div>

</div>
