<!DOCTYPE html>
<html>
<head>
 <title>Whizzingham Manor</title>
 <!-- <link rel="stylesheet" href="/style.css"> -->
</head>
<body>
 <nav>
   <ul class="nav-list">
     <!-- <li><a href="/pizza-orders"> All Pizza Orders</a></li>
     <li><a href="/pizza-orders/new"> New Order</a></li> -->
   </ul>
 </nav>
 <%= yield %>
</body>
<!-- <footer class="darker"> &copy Copyright 2019 | Pizza Shop</footer> -->
</html>
