<div id="new">
  <p> Sorting form: </p>

  <div class="form">
    <form action="/mini-whizz/" method="post">
      <label for="first-name">First name:</label>
        <input type="text" name="first_name" id="first-name" placeholder="Enter your first name here">

        <label for="second-name">Last Name:</label>
             <input type="text" name="second_name" id="second-name" placeholder="Enter your last name here"/>

             <label for="house">Hogwarts house:</label>
             <select class="dropdown" name="house" id="house">
               <option value="Gryffindor">Gryffindor</option>
               <option value="Hufflepuff">Hufflepuff</option>
               <option value="Ravenclaw">Ravenclaw</option>
               <option value="Slytherin">Slytherin</option>
             </select>

             <label for="age">Age:</label>
             <input type="number" name="age" id="age" placeholder="Your age here"/>

             <input type="submit" value="Whizz away!">
           </form>
         </div>
        </div>
